@{
  Layout = "_Layout";
}

@using IEPCompanion.ViewModels

@model LoginViewModel

<div class="body-container">
<div class="nav-header">Log in to your account</div>
<div class="nav-content">
@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)
<br>
  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <input type="submit" value="Login" class="btn btn-primary" />
}
