@using IEPCompanion.Models;
@model IEPCompanion.Models.Person;
@{
  Layout = "_Layout";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
  
  @Html.LabelFor(model => model.FirstName);
  @Html.TextBoxFor(model => model.FirstName);

  @Html.LabelFor(model => model.LastName);
  @Html.TextBoxFor(model => model.LastName);

  @Html.LabelFor(model => model.Email);
  @Html.TextBoxFor(model => model.Email);

  <label for="Role">Select your role:</label>
  <select id="Role" name="Role">
    <option value="Teacher">Teacher</option>
    <option value="Student">Student</option>
    <option value="Parent">Parent</option>
    <option value="Admin">Admin</option>
  </select>

  <input type="submit" value="Create" />
  
}

