@{
  Layout = "_Layout";
}

@using IEPCompanion.Models;
@* <div class ="content"> *@
<div class="body-container">
@Html.ActionLink("Add IEP", "Create", "IEPs", null, new { @class = "btn btn-primary" })
<br>
@Html.ActionLink("Add Student", "Create", "Student", null, new { @class = "btn btn-primary" })
<br>
@Html.ActionLink("Click if you're a parent", "ParentAuthTest", "Home", null, new { @class = "btn btn-primary" })
<br>
@Html.ActionLink("Click if you're a admin or a teacher", "AdminTeacherAuthTest", "Home", null, new { @class = "btn btn-primary" })

  @if(!User.Identity.IsAuthenticated)
  {
    <br>
    @Html.ActionLink("Login", "Login", "Accounts", null, new { @class = "btn btn-primary" })
    <br>
    @Html.ActionLink("Register", "Register", "Accounts", null, new { @class = "btn btn-primary" })
  }
else {
  <h4>IEP Listing</h4>
  @if (Model["ieps"].Count == 0)
  {
    <p>No Individual Education Plans have been added yet!</p>
    <p>Click @Html.ActionLink("here", "Create", "IEPs", null, new { @class = "btn btn-primary" }) to add a new IEP</p>
  }
  else
  {
    <ul>
      @foreach (IEP IepInstance in Model["ieps"])
      {
        <li>@Html.ActionLink($"{IepInstance.IEPId}", "Details", "Home" , new { id = IepInstance.IEPId }, new { @class = "btn btn-primary" })</li>
      }
    </ul>
    }

  <h4>People Listing</h4>
  @if (Model["people"].Count == 0)
  {
    <p>No People added</p>
    <p>Click @Html.ActionLink("here", "Create", "Peoples", null, new { @class = "btn btn-primary" }) to add a new Person</p>
  }
  else
  {
    
      @foreach (Person person in Model["people"])
      {
        <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId }, new { @class = "btn btn-primary" })</li>
      }
  }
    <h4>Teachers</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Teacher")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId }, new { @class = "btn btn-primary" })</li>
        }
      }
    </ul>
    <br>
    <h4>Students</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Student")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId }, new { @class = "btn btn-primary" })</li>
        }
      }
    </ul>
    <br>
    <h4>Parents</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Parent")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId }, new { @class = "btn btn-primary" })</li>
        }
      }
    </ul>
    <br>
    <h4>Administrators</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Administrator")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId }, new { @class = "btn btn-primary" })</li>
        }
      }
    </ul>
    }
